<div class="HavesContainer" Layout="row" layout-wrap>
    <div class="container" Layout="row" layout-wrap>
      <md-content ng-repeat="haves in vm.haveList.havelist" style="margin:10px;" flex="25"> 
      <section style=" font-size: 150%; text-align: center">
        {{haves.quantity}}x
      </section>
    </section>
        <img ng-src="{{haves.image}}" style="max-width: 100%;" >
        <section style="font-size: 130%; text-align: center">
          Set: {{haves.set_name}}</section>
        <section style="font-weight: bold; font-size: 130%; text-align: center">
          Price Average: ${{haves.usd}} USD 
        </section>
        <section style="font-weight: bold; font-size: 130%; text-align: center">
          {{haves.quantity}}x Price: {{haves.cardtotals}} USD
      </section>
      </md-content>
    </div>
  </div>