
<div class="container">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
          <md-card style="text-align: center">
              <img src="/images/James.jpg" class="profileImage" alt="This is James!">
        <md-card-title>
          <md-card-title-media>
          </md-card-title-media>
        </md-card-title>
            <span class="md-subhead">James Nguyen</span>
            <span class="md-subhead"> Full Stack Engineering Student</span>
            <span class="md-subhead">Prime Digital Academy Student in Minneapolis, Minnesota</span>
            <span class="md-subhead">Github URL: github.com/Zygy93</span>
            <span class="md-subhead">LinkedIn URL: linkedin.com/in/Nguyenjlam</span>
          </div>
      </md-card>
    </md-content>
  <div class="technologyList">
    <h2>Technologies Used</h2>
    <ul style="list-style-type:disc" class="infoList">
      <li>PostgreSQL</li>
      <br>
      <li>Express</li>
      <br>
      <li>AngularJS</li>
      <br>
      <li>Node.js</li>
      <br>
      <li>Scryfall API</li>
      <br>
      <li>Angular-Material</li>
      <br>
      <li>Angular-Aria</li>
      <br>
      <li>Angular-Messages</li>
      <br>
      <li>SweetAlert</li>
      <br>
      <li>Passport</li>
      <br>
      <li>Heroku</li>
      <br>
    </ul>
  </div>
</div>
