
<div class="container">
    <div class="cardProfile">
        <md-card>
          <md-card-title>
            <md-card-title-media>
              <img src="/images/James.jpg" class="profileImage" alt="This is James!">
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline">James Nguyen</span>
              <span class="md-display1">Full Stack Engineering Student</span>
              <span class="md-subhead">James Nguyen, a Prime Digital Academy Student in Minneapolis, Minnesota.</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </div>
  <h2>Technologies Used</h2>
  <ul style="list-style-type:disc" class="infoList">
      <li>PostgreSQL</li>
      <li>Express</li>
      <li>AngularJS</li> 
      <li>Node.js</li>
      <li>Bootstrap</li>
      <li>Heroku</li>
      <li>Magic The Gathering API</li>
  </ul>
</div>
