
<div class="container">
  <div class="cardProfile">
    <md-card>
      <md-card-title>
        <md-card-title-media>
          <img src="/images/James.jpg" class="profileImage" alt="This is James!">
        </md-card-title-media>
      </md-card-title>
    </md-card>
    <md-card>
      <span class="md-headline">James Nguyen</span>
      <span class="md-display1">Full Stack Engineering Student</span>
      <span class="md-subhead">A Prime Digital Academy Student in Minneapolis, Minnesota.</span>
    </md-card>
  </div>
  <div class="technologyList">
    <h2>Technologies Used</h2>
    <ul style="list-style-type:disc" class="infoList">
      <li>PostgreSQL</li>
      <br>
      <li>Express</li>
      <br>
      <li>AngularJS</li>
      <br>
      <li>Node.js</li>
      <br>
      <li>Scryfall API</li>
      <br>
      <li>Angular-Material</li>
      <br>
      <li>Angular-Aria</li>
      <br>
      <li>Angular-Messages</li>
      <br>
      <li>Heroku</li>
      <br>
    </ul>
  </div>
</div>
