<div flex class="md-padding">
  <div>
    <!-- <md-select ng-model="searchParameter" placeholder="Search Parameter" class="md-no-underline">
    <md-option value="">Name</md-option>
    <md-option value="types=">Types</md-option>
    <md-option value="subtypes=">Subtypes</md-option>
  </md-select> -->
</div>
<md-input-container>
  <label>Search</label>
  <input ng-model="searchBar" type="text" placeholder ="">
</md-input-container>
<md-button ng-click="vm.searchApi(searchBar); searchBar=''" md-no-ink class="md-primary">Search</md-button>
</div>
<div class="container" layout="row"  layout-wrap>
  <md-content ng-repeat="card in vm.cardService.searchOut.cards" >
    <md-card ng-show="card.image_uris.normal">
      <section>
        <md-select ng-model="cardOptions" placeholder="Add To List" ng-required="true">
          <md-option value="havelist">Add to Have List</md-option>
          <md-option value="tradelist">Add to Trades List</md-option>
          <md-option value="wishlist">Add to Wish List</md-option>
        </md-select>
        <input ng-model="numberOfCards" type="integer" placeholder ="Quantity">
      <img ng-src="{{card.image_uris.normal}}" style="max-height:60%; max-width:60%; display:block;
      margin-left:auto;
      margin-right:auto;">
      <section style="text-align: center">Set: {{card.set_name}}</section>
      <section
      class="thicker"
      style="font-weight: bold; font-size: 150%; display:block; text-align: center">
      Market Price Average: ${{card.usd}} USD 
      </section>
      <button mat-button ng-click="vm.addCardToList(cardOptions, card, numberOfCards)" style="display:block;
      margin-left:auto;
      margin-right:auto;
      background-color: #4CAF50;
      border-radius: 12px;
      font-size: 16px;">Add</button>
    </section>
   
  </md-card>
</md-content>
</div>
</div>
