<div class="WishContainer">

        <div class="container" layout="row"  layout-wrap >
      
          <md-content ng-repeat="wish in vm.wishList.wishlist" style="margin:10px;" flex="25"> 
            <section><h3
              class="thicker"
              style="font-weight: bold; font-size: 150%; display:block; margin-left:auto; margin-right:auto; text-align: center">
              {{wish.quantity}}x
            </h3>
          </section>
              <img ng-src="{{wish.image}}" style="max-width: 100%;" >
              <section style="font-size: 110%; text-align: center">Set: {{wish.set_name}}</section>
              <section><h3
                class="thicker"
                style="font-weight: bold; font-size: 150%; display:block; margin-left:auto; margin-right:auto; text-align: center">
                ${{wish.usd}} USD each
              </h3>
            </section>
          </md-content>
        </div>
      </div>